# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Editor directories and files
.vscode/*
!.vscode/extensions.json

.idea/*
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Terraform
.terraform*
terraform.tfstate*
