apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: applications
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: {{ argocd_repo_url | default('https://github.com/gsuquet/homelab.git') }}
    targetRevision: {{ argocd_repo_branch | default('main') }}
    path: {{ argocd_root_app_path | default('platform/applications') }}
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
