---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zigbee2mqtt
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: zigbee2mqtt
          image: ghcr.io/koenkk/zigbee2mqtt:2.7.0@sha256:7da30df2c3e53ea02e0bbce0241306358e946b2b5ce6ec02ecdf90be0a96c694
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          envFrom:
            - configMapRef:
                name: zigbee2mqtt-cm-environment
            - secretRef:
                name: zigbee2mqtt-secrets
          volumeMounts:
            - mountPath: /app/data/
              name: data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: zigbee2mqtt-data
