---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: homeassistant
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: homeassistant
          image: ghcr.io/home-assistant/home-assistant:2025.12.0@sha256:8951fcbb794da8f261e1639c668639bc90f9520b48099b5715f6d5fbfef08a0e
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: homeassistant-cm-environment
          ports:
            - name: http
              containerPort: 8123
              protocol: TCP
          livenessProbe:
            tcpSocket:
              port: 8123
            initialDelaySeconds: 0
            failureThreshold: 3
            timeoutSeconds: 1
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 8123
            initialDelaySeconds: 0
            failureThreshold: 3
            timeoutSeconds: 1
            periodSeconds: 10
          startupProbe:
            tcpSocket:
              port: 8123
            initialDelaySeconds: 0
            failureThreshold: 30
            timeoutSeconds: 1
            periodSeconds: 5
          volumeMounts:
            - mountPath: /config
              name: config
            - mountPath: /config/configuration.yaml
              name: configuration-file
              subPath: configuration.yaml
      hostNetwork: false
      restartPolicy: Always
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: homeassistant-pvc-config
        - name: configuration-file
          configMap:
            name: homeassistant-cm-config
            items:
              - key: configuration.yaml
                path: configuration.yaml
