---
apiVersion: v1
kind: Secret
metadata:
  name: mosquitto-passwords
  namespace: homeassistant
  labels:
    app.kubernetes.io/instance: mosquitto
    app.kubernetes.io/managed-by: argocd
    app.kubernetes.io/name: mosquitto
    app.kubernetes.io/part-of: homeassistant
    app.kubernetes.io/version: "1.0.0"
type: Opaque
data:
  # Note: Replace <base64-encoded-passwords> with the actual base64 encoded content of your passwords file.
  # To generate the base64 encoded content, you can use the following command:
  # echo -n "your_username:your_password" | base64
  # Make sure to replace "your_username" and "your_password" with your actual MQTT username and password.
  # You can add multiple users by separating them with newlines in the passwords file.
  # Example:
  # echo -n "user1:password1\nuser2:password2" | base64
  # This will create a base64 encoded string that you can use below.
  passwords.txt: <base64-encoded-passwords>
