---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: actualbudget
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: actualbudget
          image: ghcr.io/actualbudget/actual:25.12.0-alpine@sha256:a9d0a6a406dd0ace4a5e091e139e9d990cd321bdc4a15ddd76271b5aa5e2950e
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 5006
              protocol: TCP
          volumeMounts:
            - mountPath: /data
              name: data
      restartPolicy: Always
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: actualbudget-pvc-data
